<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  </br>
  </br>
  </br>
  <a href="/add_student">Add New Student</a>
  </br>
  <a href="/add_course">Add New Course</a>
  </br>
  </br>
  </br>
  <hr>
  <div style="width: 40%; float: left;margin-right:10px">
  <table style="width: 90%; border: 1px solid black" >
    <tr>
      <th style="text-align: center">Firstname</th>
      <th style="text-align: center">Lastname</th>
    </tr>
    {%for student in students_list %}
      <tr>
        <td style="text-align: center">{{ student.first_name }}</td>
        <td style="text-align: center">{{ student.last_name }}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
  <div style="width: 40%; float: left">
  <table style="width: 90%; border: 1px solid black">
    <tr>
      <th style="text-align: center">Course name</th>
      <th style="text-align: center">Course details</th>
    </tr>
    {%for course in course_list %}
      <tr>
        <td style="text-align: center">{{ course.course_name }}</td>
        <td style="text-align: center">{{ course.course_details }}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
</body>
</html>