<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Add Course</title>
</head>
<body>

<div style="margin-top: 10%">
  <form action="{% url 'post_subscribe_courses' %}" method="post">
    {% csrf_token %}

    <select id="student" name="student" required>
    {% for student in students_list %}
    <option value="{{ student.id }}">
      {{ student.first_name }} {{ student.last_name }}
    </option>
    {% endfor %}
    </select>

    <select id="course" name="course" required>
    {% for course in course_list %}
    <option value="{{ course.id }}">
      {{ course.course_name }} : {{ course.course_details |truncatewords:10}}
    </option>
    {% endfor %}
    </select>
    </br>
    </br>
    <input type="submit">
  </form>
</div>
</body>
</html>